<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu site expressJS</title>
    <style>
       * { 
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body {
            background-color: cornflowerblue;
        }
        .menu {
            background-color: aliceblue;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    </style>
    
</head>
<<nav class= "menu">
    <img
      width="150"
      src="https://i.pinimg.com/736x/44/58/f8/4458f8ef4c263622834b745f0c077726.jpg"
      alt="aguarde"
    />
    <ul>
        <a href="/"> HOME </a>
        <a href="/sobre"> SOBRE </a>
    </ul>
</nav>
<body</body>
</html>